<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h2>Book a Wall</h2>
    <div class="container">
      <form method="POST">
        <label for="text">Username: {{ current_user.username }}</label>
        <label for="date">Select a date:</label>
        <input
          type="date"
          id="date"
          name="date"
          title="Select the date you want to view bookings for"
          required
        />

        <input type="number" name="size" placeholder="Size" required />
        <textarea
          name="description"
          placeholder="Description"
          required
        ></textarea>
        <button class="button" type="submit"><span>Book</span></button>
      </form>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flash">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>

    <script>
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, "0");
      const day = String(today.getDate()).padStart(2, "0");
      const formattedDate = `${year}-${month}-${day}`;
      document.getElementById("date").setAttribute("min", formattedDate);
      window.addEventListener("pageshow", function (event) {
        const isBackNav =
          event.persisted ||
          window.performance.getEntriesByType("navigation")[0]?.type ===
            "back_forward";
        if (isBackNav) {
          window.location.href = "/";
        }
      });
    </script>
  </body>
</html>
